## Import Libraries

In [2]:
import pandas as pd

## Loading Data

In [3]:
cars_data = pd.read_csv("clean_car_dataset.csv")

In [4]:
#cars_data.isnull().sum()

## Exploratory Data Analysis

In [ ]:
- Frequency Table (crosstab()): used to find the relationship b/n categorical vars

In [5]:
pd.crosstab(index=cars_data['FuelType'], columns='count', dropna='True')

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1277

## Two way

In [6]:
pd.crosstab(index=cars_data['Automatic'], columns=cars_data['FuelType'], dropna=True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1197
1            0       0      80

## Selecting all the numerical columns

In [7]:
numerical_data = cars_data.select_dtypes(exclude=[object])

In [8]:
numerical_data.columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'HP', 'MetColor', 'Automatic', 'CC',
       'Weight'],
      dtype='object')

In [9]:
corr_matrix = numerical_data.corr()

In [10]:
corr_matrix

,Unnamed: 0,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
Unnamed: 0,1.000000,-0.738289,0.907090,0.279076,-0.108616,-0.078616,0.066299,-0.184490,-0.414577
Price,-0.738289,1.000000,-0.878407,-0.574720,0.309902,0.112041,0.033081,0.165067,0.581198
Age,0.907090,-0.878407,1.000000,0.512735,-0.157904,-0.099659,0.032573,-0.120706,-0.464299
KM,0.279076,-0.574720,0.512735,1.000000,-0.335285,-0.093825,-0.081248,0.299993,-0.026271
HP,-0.108616,0.309902,-0.157904,-0.335285,1.000000,0.064749,0.013755,0.053758,0.086737
MetColor,-0.078616,0.112041,-0.099659,-0.093825,0.064749,1.000000,-0.013973,0.029189,0.057142
Automatic,0.066299,0.033081,0.032573,-0.081248,0.013755,-0.013973,1.000000,-0.069321,0.057249
CC,-0.184490,0.165067,-0.120706,0.299993,0.053758,0.029189,-0.069321,1.000000,0.651450
Weight,-0.414577,0.581198,-0.464299,-0.026271,0.086737,0.057142,0.057249,0.651450,1.000000