Importing Libraries

In [1]:
import pandas as pd
import numpy as np

Loading Datasets

In [2]:
data = pd.read_csv('datasets/Toyota.csv')

Creating a copy of the data

In [3]:
df=data.copy()

In [4]:
df

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

In [6]:
df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [7]:
df.tail()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [8]:
cars_data = pd.read_csv("datasets/Toyota.csv", index_col=0, na_values=["??"])

In [9]:
cars_data.tail()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,7500,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

In [10]:
print(np.unique(df['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

In [11]:
print(np.unique(df['Price']))

[ 4350  4400  4450  4750  5150  5250  5600  5740  5750  5751  5800  5845
  5900  5950  6000  6150  6250  6400  6425  6450  6490  6495  6500  6550
  6640  6650  6750  6800  6900  6950  6990  6999  7000  7145  7150  7200
  7250  7300  7350  7400  7450  7460  7490  7495  7499  7500  7600  7750
  7795  7800  7850  7900  7950  7990  7995  7999  8000  8050  8100  8150
  8200  8250  8400  8450  8490  8495  8500  8600  8695  8700  8745  8750
  8800  8850  8895  8900  8950  8990  8995  9000  9130  9200  9245  9250
  9390  9400  9450  9475  9500  9550  9650  9695  9700  9750  9795  9799
  9800  9850  9895  9900  9930  9940  9950  9980  9990  9995 10000 10250
 10295 10350 10400 10450 10495 10500 10600 10750 10800 10845 10850 10895
 10900 10950 10990 10995 11000 11250 11290 11450 11480 11495 11500 11650
 11690 11695 11700 11710 11750 11790 11895 11900 11925 11930 11950 11990
 12000 12200 12250 12295 12400 12450 12495 12500 12695 12750 12850 12900
 12950 12995 13000 13250 13450 13500 13750 13875 13950 13995 14350 14750
 14900 14950 14990 15250 15450 15500 15750 15800 15850 15950 15999 16250
 16350 16450 16500 16650 16750 16868 16895 16900 16950 17200 17250 17450
 17495 17650 17795 17900 17950 18245 18450 18500 18600 18700 18750 18800
 18900 18950 18990 19000 19250 19450 19500 19600 19750 19900 19950 20500
 20750 20950 21125 21500 21750 21950 22000 22250 22500 22750 22950 23000
 23750 23950 24500 24950 24990 31000 31275 32500]

In [12]:
print(np.unique(df['Age']))

[ 1.  2.  4.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20.
 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38. 39.
 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53. 54. 55. 56. 57.
 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71. 72. 73. 74. 75.
 76. 77. 78. 79. 80. nan]

In [13]:
print(np.unique(df['HP']))

['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']

In [14]:
print(np.unique(df['MetColor']))

[ 0.  1. nan]

In [15]:
print(np.unique(df['Automatic']))

[0 1]

In [16]:
print(np.unique(df['CC']))

[1300 1332 1398 1400 1587 1598 1600 1800 1900 1975 1995 2000]

In [17]:
print(np.unique(df['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']

In [18]:
print(np.unique(df['Weight']))

[1000 1010 1015 1020 1025 1030 1035 1040 1045 1050 1055 1060 1065 1067
 1070 1075 1078 1079 1080 1083 1084 1085 1090 1094 1095 1100 1103 1105
 1109 1110 1114 1115 1119 1120 1121 1125 1130 1135 1140 1150 1155 1160
 1165 1170 1172 1180 1185 1195 1205 1245 1255 1260 1265 1270 1275 1280
 1320 1480 1615]

In [19]:
cars_data = pd.read_csv("datasets/Toyota.csv", index_col=0, na_values=["??", "????"])

In [20]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

In [21]:
cars_data['FuelType'].nbytes

11488

In [22]:
##CONVERT FUELTYPE COL TO CATEGORICAL
cars_data['FuelType'] = cars_data['FuelType'].astype('category')

In [23]:
##
cars_data['Doors'] = cars_data['Doors'].replace('three',3)

In [24]:
cars_data.head()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,3,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170

In [25]:
df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [26]:
cars_data['Doors'] = cars_data['Doors'].replace('four',4)

In [27]:
cars_data.head()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,3,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170

In [28]:
cars_data['Doors'] = cars_data['Doors'].astype('int')

ValueError: invalid literal for int() with base 10: 'five'

In [ ]:
cars_data.info()

In [ ]:
cars_data['Doors'] = cars_data['Doors'].replace('five',5)

In [ ]:
cars_data['Doors'] = cars_data['Doors'].astype('int')

In [ ]:
cars_data.info()

##Data Preprocessing is more than normalizing data.

Dealing with Missing Values => isnull(), isna(), sum()

In [36]:
cars_data.isnull().sum()

Price          0
Age          100
KM            15
FuelType       0
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [ ]:
##Getting a brief statistical summary of the dataframe
cars_data.describe().round()

In [ ]:
## Cal mean age
cars_data['Age'].mean()

In [ ]:
cars_data['Age'].fillna(cars_data['Age'].mean())

In [ ]:
cars_data['Age'].isna().sum()

In [ ]:
cars_data['Age'].fillna(cars_data['Age'].mean(),inplace=True)

In [ ]:
cars_data['Age'].isna().sum()

In [29]:
cars_data['FuelType'].value_counts()

FuelType
Petrol    1177
Diesel     144
CNG         15
Name: count, dtype: int64

In [31]:
cars_data['FuelType'].value_counts().index[0]

'Petrol'

In [34]:
cars_data['FuelType'].fillna(cars_data['FuelType'].value_counts().index[0], inplace=True)

In [35]:
cars_data['FuelType'].isnull().sum()

0

In [37]:
cars_data['KM'].mean()

68647.23997185081

In [38]:
cars_data['KM'].fillna(cars_data['KM'].mean())

0       46986.000000
1       72937.000000
2       41711.000000
3       48000.000000
4       38500.000000
            ...
1431    20544.000000
1432    68647.239972
1433    17016.000000
1434    68647.239972
1435        1.000000
Name: KM, Length: 1436, dtype: float64

In [40]:
cars_data['KM'].isna().sum()

15

## Saving Clean Data
cars_data.to_csv("clean_car_dataset.csv")

In [42]:
cars_data.to_csv("clean_car_dataset.csv")